header {
    background-color: #99A3A4;
}

.logo {
    color: #860B71;
    font-size: 35px;
    align-items: center;
    margin-right: 15px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    border: black solid 0.2px ;
    padding: 20px;
    padding-right: 25px;
}